node_modules
yarn-error.log
volvox-wgsim.*
badread.1000x.*
badread.50x.*
jb2web
jb2web_optim
jb2web_next
ultra-long-ont_hs37d5_phased.*
hg19.*
igv.js
jb2_165
jb2_167
jb2_169
jb2optim1
jb2optim2
results
jb2_main
jb2_noserialize
